<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h6><%= pluralize(article.errors.count, "ข้อผิดพลาด") %> ไม่สามารถบันทึกบทความได้:</h6>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ชื่อเรื่อง, style: "display: block" %>
    <%= form.text_field :header, size: 72 %>
  </div>

  <div>
    <%= form.label :เนื้อหา, style: "display: block" %>
    <%= form.text_field :body, size: 72 %>
  </div>

  <div>
    <%= form.label :ผู้เขียน, style: "display: block" %>
    <%= form.text_field :author, value: Current.user.email_address, size: 72, disabled: true %>
  </div>

  <div>
    <%= form.submit article.new_record? ? "สร้างบทความ" : "อัปเดทบทความ" %>
  </div>
<% end %>
